@use 'colors.scss';


// Sizing
// ---------------------------------------------------------------------------

$break-medium: 768px;
$break-small: 375px;


// Fonts
// ---------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$body-font: "Roboto", sans-serif;
$display-font: "Playfair Display", serif;
$monospace-font: "Courier", monospace;


// Text margin
// ---------------------------------------------------------------------------
// --text-margin is a CSS variable for specifying margins around text elements.
// Note that the surrounding <header>, <footer>, <main>, and <section> elements
// all use display:flex, so margins do NOT overlap.

:root {
    --text-margin: 1rem;
}

header,
main,
section,
footer {
    --text-margin: 0.5rem;
}


// Sectioning
// ---------------------------------------------------------------------------

:root {
    font-family: $body-font;
    font-size: 18px;
    line-height: 1.5;

    scroll-behavior: smooth;

    @media (max-width: $break-medium) {
        font-size: 14px;
    }

    @media (max-width: $break-small) {
        font-size: 12px;
    }

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;

    padding: 2rem;
    margin: 0 auto;

    nav {
        margin: 0.25rem;
    }

    * {
        background-color: transparent;
    }

    &.full-screen {
        background-image: url("/assets/JGP-72.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 80%;

    padding: 2rem;
    margin: 0 auto;

    @media (max-width: $break-medium) {
        padding: 2rem 1rem;
    }

    >* {
        width: 100%;
        max-width: 40rem;
        margin: auto;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1rem;
}


// Headings
// ---------------------------------------------------------------------------

h1 {
    font-family: $display-font;
    font-size: 3rem;
    margin: calc(3 * var(--text-margin)) 0 var(--text-margin) 0;

    header>& {
        font-size: 4rem;
        font-weight: bold;

        @media (max-width: $break-medium) {
            font-size: 3rem; // Prevents the title from wrapping on mobile
        }
    }
}

h2 {
    font-family: $display-font;
    font-size: 2.5rem;
    font-weight: 300;
    margin: calc(2 * var(--text-margin)) 0 var(--text-margin) 0;
}

h3 {
    font-family: $display-font;
    font-size: 2rem;
    font-weight: normal;
    margin: calc(2 * var(--text-margin)) 0 var(--text-margin) 0;
}

h4 {
    font-family: $display-font;
    font-size: 1rem;
    font-weight: bold;
    margin: var(--text-margin) 0;
}

h5 {
    font-family: $display-font;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin: var(--text-margin) 0;
}

h6 {
    font-family: $display-font;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    margin: var(--text-margin) 0;
}


// Core typographical elements
// ---------------------------------------------------------------------------

p {
    margin: var(--text-margin) 0;
}

a {
    color: var(--text-color);
    text-decoration-line: underline;
    text-decoration-color: colors.$link-color;

    svg {
        fill: var(--text-color);
    }

    &:hover {
        color: colors.$link-color;
        text-decoration-line: underline !important;

        svg {
            fill: colors.$link-color;
        }
    }
}

blockquote {
    border-left: 4px solid var(--text-color);
    padding-left: 1rem;
}

cite {
    font-style: italic;
}

pre {
    font-family: $monospace-font;
    font-size: 0.75rem;
    padding: 1rem;
    overflow-x: scroll;
    z-index: 1;
    font-variant-ligatures: none;

    code {
        white-space: pre;
    }
}

mark {
    background-color: colors.$mark-color;
}

big {
    font-size: 1.15rem;
}

small {
    font-size: 0.85rem;
}

hr {
    transform: scale(80%, 1);
    margin: calc(2 * var(--text-margin)) auto;
    border: none; // Reset the user-agent style.
    border-bottom: 1px solid var(--text-color);
}


// Samantic elements
// ---------------------------------------------------------------------------

time {
    font-weight: normal;
    font-style: normal;
}

address {
    font-weight: normal;
    font-style: normal;
}

code {
    font-family: $monospace-font;
    padding: 0 0.25rem;
    white-space: nowrap;
    font-variant-ligatures: none;
}

kbd {
    font-family: $monospace-font;
    padding: 0 0.25rem;
    white-space: nowrap;
    font-variant-ligatures: none;
}

samp {
    font-family: $monospace-font;
    padding: 0 0.25rem;
    white-space: nowrap;
    font-variant-ligatures: none;
}


// Lists
// ---------------------------------------------------------------------------
// Note that Firefox breaks when `list-style-position` is `inside`
// and the list contains a block element, e.g. `<p>`.
// https://bugzilla.mozilla.org/show_bug.cgi?id=36854

ul {
    margin: 1rem;
    padding-inline-start: 1.5rem;
    list-style-position: outside;
    list-style-type: disc;
}

ol {
    margin: 1rem;
    padding-inline-start: 1.5rem;
    list-style-position: outside;
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5rem 0;
    padding: 0 0.5rem;
}

dt {
    font-weight: bold;
    margin-top: 1.5rem;
}

dd {
    padding-inline-start: 1.5rem;
}


// Tables
// ---------------------------------------------------------------------------

table {
    border-collapse: collapse;
    margin: 2rem auto;
}

caption {
    margin: 0.5rem;
}

thead {
    color: var(--bg-color);
    background-color: var(--text-color);

    position: sticky;
    top: 0;

    &>tr>th:first-child {
        border-radius: 0.5rem 0 0 0;
    }

    &>tr>th:last-child {
        border-radius: 0 0.5rem 0 0;
    }
}

tfoot {
    color: var(--bg-color);
    background-color: var(--text-color);

    &>tr>th:first-child {
        border-radius: 0 0 0 0.5rem;
    }

    &>tr>th:last-child {
        border-radius: 0 0 0.5rem 0;
    }
}

th,
td {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: brightness(var(--bg-color), 90%);
}


// Media & Widgets
// ---------------------------------------------------------------------------

svg {
    height: 100%;
    width: auto;
}

figure {
    padding: 1rem;
    text-align: center;
}

figcaption {
    font-size: 0.75rem;
}

canvas {
    width: 100%;
}

video {
    width: 100%;
}

audio {
    width: 100%;
}

iframe {
    width: 100%;
}

meter {
    width: 100%;
}

progress {
    width: 100%;
}
