@use 'colors.scss';


// Specific element tweaks
// ---------------------------------------------------------------------------

#when-where {
    scroll-margin-top: 6rem;
}


// Misc
// ---------------------------------------------------------------------------

// Anything that shouldn't be displayed.
.hidden {
    display: none;
}

// A link that is never underlined.
// It always overrides any other component styling.
.quiet-link {
    text-decoration-line: none;
}

// A link that is never colored or underlined.
// It always overrides any other component styling.
.silent-link {
    color: colors.$text-color !important;
    text-decoration: none !important;
}


// Full Screen Section
// ---------------------------------------------------------------------------
// Section is stretched to fill the viewport.

.full-screen {
    min-height: 110svh;
    width: 100%;
    padding: 5vh 2rem;
}

header.full-screen {
    min-height: 100svh;
}


// Inline List
// ---------------------------------------------------------------------------
// A list drawn in a single line with '·' as a separator.

.inline-list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &>li {
        display: inline-block;

        &:not(:last-child)::after {
            content: '·';
            margin: 0 0.5rem;
        }
    }
}


// Date
// ---------------------------------------------------------------------------

.event-date {
    display: block;
    text-align: center;
    margin: calc(2 * var(--text-margin)) auto;
}
